*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100vh;
  overflow-x:hidden;
  background:#000;
  color:white;
}

body{
  background:
  radial-gradient(circle at top,#200000 0%,#000 60%);
  font-family:Arial,sans-serif;
}

img{
  max-width:100%;
  height:auto;
}

a{
  text-decoration:none;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#111;
}

::-webkit-scrollbar-thumb{
  background:red;
  border-radius:20px;
}

@keyframes pulse{
  0%{
    box-shadow:0 0 20px red;
  }

  50%{
    box-shadow:0 0 50px red;
  }

  100%{
    box-shadow:0 0 20px red;
  }
}

@keyframes flicker{
  0%{
    opacity:.05;
  }

  50%{
    opacity:.2;
  }

  100%{
    opacity:.05;
  }
}
